In [215]:
#Zadanie 1:

import numpy as np
import pandas as pd

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog',
        'dog'],
        'name': ['Daisy', 'Bella', 'Noodle', 'Charlie', 'Max', 'Molly', 'Draco', 'Kenzo',
        'Milo', 'Cooper'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

animals = pd.DataFrame(data, index = labels)
animals.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   name      10 non-null     object
 2   age       8 non-null      float64
 3   visits    10 non-null     int64
 4   priority  10 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 480.0+ bytes

In [217]:
#Zadanie 2: 

#a) pierwsze 3 wiersze
print(animals[0:3])

#b) kolumny 'animal' i 'age'
print(animals['animal'])
print(animals['age'])

#c) dane z wierszy 3, 4 i 8, zawarte w kolumnach 'visits' i 'priority'
print(animals.loc[['d', 'e', 'i'], ['visits', 'priority']])

#d) wiersze, w których liczba wizyt jest większa niż 2,
visits_data = animals['visits'] > 2
print(animals[visits_data])

#e) wiersze, w których zwierzęciem jest kot i ma mniej niż 4 lata
animal_data = animals['animal'] = 'cat' and animals['age'] < 4
print(animals[animal_data])

#f) wiersze, w których wiek zwierzęcia mieści się w przedziale od 2 do 4 lat (włącznie).
age_data = (animals['age'] >= 2) & (animals['age'] <= 4)
print(animals[age_data])

  animal    name  age  visits priority
a    cat   Daisy  2.5       1      yes
b    cat   Bella  3.0       3      yes
c  snake  Noodle  0.5       2       no
a      cat
b      cat
c    snake
d      dog
e      dog
f      cat
g    snake
h      cat
i      dog
j      dog
Name: animal, dtype: object
a    2.5
b    3.0
c    0.5
d    NaN
e    5.0
f    2.0
g    4.5
h    NaN
i    7.0
j    3.0
Name: age, dtype: float64
   visits priority
d       3      yes
e       2       no
i       2       no
  animal     name  age  visits priority
b    cat    Bella  3.0       3      yes
d    dog  Charlie  NaN       3      yes
f    cat    Molly  2.0       3       no
   animal    name  age  visits priority
a    True   Daisy  2.5       1      yes
b    True   Bella  3.0       3      yes
c    True  Noodle  0.5       2       no
f    True   Molly  2.0       3       no
j    True  Cooper  3.0       1       no
   animal    name  age  visits priority
a    True   Daisy  2.5       1      yes
b    True   Bella  3.0       3      yes
f    True   Molly  2.0       3       no
j    True  Cooper  3.0       1       no

In [219]:
#Zadanie 3:
#a) dodaj do niej wiersz o indeksie 'k', zawierający informacje o nowym zwierzęciu – psie, wabiącym 
#się Buddy, w wieku 5.5 roku, któy odwiedził gabinet 2 razy w zwykłym trybie

animals.loc['k'] = {'animal': 'dog',
        'name': 'Buddy',
        'age': 5.5,
        'visits': 2,
        'priority': 'no'}

#b) dodaj do niej kolumnę 'price', zawierającą wartość 10 dla pacjentów zwykłych i 20 dla pacjentów priorytetowych
animals['price'] = np.where(animals['priority'] == 'yes', 20, 10)

#c) dodaj do niej kolumnę 'total', zawierajacą całkowity koszt wszystkich wizyt,
animals['total'] = animals['visits'] * animals['price']

#d) usuń z niej kolumnę 'priority'
animals.drop('priority', axis=1, inplace=True)

#e) zmień nazwę kolumny 'animal' na 'species',
animals = animals.rename(columns = {'animal' : 'species'})
print(animals)

  species     name  age  visits  price  total
a    True    Daisy  2.5       1     20     20
b    True    Bella  3.0       3     20     60
c    True   Noodle  0.5       2     10     20
d   False  Charlie  NaN       3     20     60
e   False      Max  5.0       2     10     20
f    True    Molly  2.0       3     10     30
g   False    Draco  4.5       1     10     10
h   False    Kenzo  NaN       1     20     20
i   False     Milo  7.0       2     10     20
j    True   Cooper  3.0       1     10     10
k     dog    Buddy  5.5       2     10     20

In [110]:
#Zadanie 4
#a) przywróć ramce danych domyślny indeks całkowity, sprawiając jednocześnie, by nie została dodana
#nowa kolumna z wcześniejszymi wartościami indeksu
animals.reset_index(drop=True)
print(animals)

  species     name  age  visits  price  total
a    True    Daisy  2.5       1     20     20
b    True    Bella  3.0       3     20     60
c    True   Noodle  0.5       2     10     20
d   False  Charlie  NaN       3     20     60
e   False      Max  5.0       2     10     20
f    True    Molly  2.0       3     10     30
g   False    Draco  4.5       1     10     10
h   False    Kenzo  NaN       1     20     20
i   False     Milo  7.0       2     10     20
j    True   Cooper  3.0       1     10     10
k     dog    Buddy  5.5       2     10     20

In [112]:
#b) utwórz indeks z kolumny 'name'
animals.set_index('name', inplace = True)
print(animals)

        species  age  visits  price  total
name
Daisy      True  2.5       1     20     20
Bella      True  3.0       3     20     60
Noodle     True  0.5       2     10     20
Charlie   False  NaN       3     20     60
Max       False  5.0       2     10     20
Molly      True  2.0       3     10     30
Draco     False  4.5       1     10     10
Kenzo     False  NaN       1     20     20
Milo      False  7.0       2     10     20
Cooper     True  3.0       1     10     10
Buddy       dog  5.5       2     10     20

In [114]:
#c) usuń z ramki danych wiersz, zawierający informacje o psie, wabiącym się Max
animals.drop('Max', inplace = True)
print(animals)

        species  age  visits  price  total
name
Daisy      True  2.5       1     20     20
Bella      True  3.0       3     20     60
Noodle     True  0.5       2     10     20
Charlie   False  NaN       3     20     60
Molly      True  2.0       3     10     30
Draco     False  4.5       1     10     10
Kenzo     False  NaN       1     20     20
Milo      False  7.0       2     10     20
Cooper     True  3.0       1     10     10
Buddy       dog  5.5       2     10     20

In [116]:
#d) przywróć ramce danych domyślny indeks całkowity, sprawiając jednocześnie, by z istniejącego
#indeksu uczynić kolumnę danych w ramce
animals.reset_index(inplace = True)
print(animals)

      name species  age  visits  price  total
0    Daisy    True  2.5       1     20     20
1    Bella    True  3.0       3     20     60
2   Noodle    True  0.5       2     10     20
3  Charlie   False  NaN       3     20     60
4    Molly    True  2.0       3     10     30
5    Draco   False  4.5       1     10     10
6    Kenzo   False  NaN       1     20     20
7     Milo   False  7.0       2     10     20
8   Cooper    True  3.0       1     10     10
9    Buddy     dog  5.5       2     10     20

In [118]:
#Zadanie 5:
#a) zamień w kolumnie 'species' ciągi znaków na pisane samymi wielkimi literam
animals['species'] = animals['species'].str.upper()
print(animals)

      name species  age  visits  price  total
0    Daisy     NaN  2.5       1     20     20
1    Bella     NaN  3.0       3     20     60
2   Noodle     NaN  0.5       2     10     20
3  Charlie     NaN  NaN       3     20     60
4    Molly     NaN  2.0       3     10     30
5    Draco     NaN  4.5       1     10     10
6    Kenzo     NaN  NaN       1     20     20
7     Milo     NaN  7.0       2     10     20
8   Cooper     NaN  3.0       1     10     10
9    Buddy     DOG  5.5       2     10     20

In [120]:
#b) zapisz tę ramkę danych do pliku CSV o nazwie 'animals.csv' – spraw, by nie zawierał on niejawnych
#(numerycznych) indeksów wierszy
animals.to_csv('animals.csv', index = False)

In [129]:
#c) odpowiednim poleceniem systemu operacyjnego wyświetl zawartość utworzonego pliku
animals = pd.read_csv('animals.csv')
print(animals)

      name species  age  visits  price  total
0    Daisy     NaN  2.5       1     20     20
1    Bella     NaN  3.0       3     20     60
2   Noodle     NaN  0.5       2     10     20
3  Charlie     NaN  NaN       3     20     60
4    Molly     NaN  2.0       3     10     30
5    Draco     NaN  4.5       1     10     10
6    Kenzo     NaN  NaN       1     20     20
7     Milo     NaN  7.0       2     10     20
8   Cooper     NaN  3.0       1     10     10
9    Buddy     DOG  5.5       2     10     20

In [221]:
#Zadanie 6
#a) wczytaj jego zawartość do ramki danych weather
weather = pd.read_csv('weather.csv')

In [223]:
#b) usuń z otrzymanej ramki danych kolumnę 'Location'
weather = weather.drop(columns = ['Location'])

In [225]:
#c) zmodyfikuj kolumnę 'Date' tak, by zawierała ona standardowe znaczniki czasowe
weather['Date'] = pd.to_datetime(weather['Date'])

In [229]:
#d) wyświetl informacje o zmodyfikowanej ramce danych i jej strukturze oraz jej ostatnich 7 wierszy
weather.info()
print(weather.tail(7))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           366 non-null    datetime64[ns]
 1   MinTemp        366 non-null    float64
 2   MaxTemp        366 non-null    float64
 3   Rainfall       366 non-null    float64
 4   Evaporation    366 non-null    float64
 5   Sunshine       363 non-null    float64
 6   WindGustDir    363 non-null    object
 7   WindGustSpeed  364 non-null    float64
 8   WindDir9am     335 non-null    object
 9   WindDir3pm     365 non-null    object
 10  WindSpeed9am   359 non-null    float64
 11  WindSpeed3pm   366 non-null    int64
 12  Humidity9am    366 non-null    int64
 13  Humidity3pm    366 non-null    int64
 14  Pressure9am    366 non-null    float64
 15  Pressure3pm    366 non-null    float64
 16  Cloud9am       366 non-null    int64
 17  Cloud3pm       366 non-null    int64
 18  Temp9am        366 non-null    float64
 19  Temp3pm        366 non-null    float64
 20  RainToday      366 non-null    object
 21  RISK_MM        366 non-null    float64
 22  RainTomorrow   366 non-null    object
dtypes: datetime64[ns](1), float64(12), int64(5), object(5)
memory usage: 65.9+ KB
          Date  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine WindGustDir  \
359 2008-10-25      3.3     25.5       0.0          5.2      10.8           N
360 2008-10-26      7.9     26.1       0.0          6.8       3.5         NNW
361 2008-10-27      9.0     30.7       0.0          7.6      12.1         NNW
362 2008-10-28      7.1     28.4       0.0         11.6      12.7           N
363 2008-10-29     12.5     19.9       0.0          8.4       5.3         ESE
364 2008-10-30     12.5     26.9       0.0          5.0       7.1          NW
365 2008-10-31     12.3     30.2       0.0          6.0      12.6          NW

     WindGustSpeed WindDir9am WindDir3pm  ...  Humidity3pm  Pressure9am  \
359           43.0          N        NNW  ...           16       1018.8
360           43.0        NaN        WNW  ...           20       1017.6
361           76.0        SSE         NW  ...           15       1016.1
362           48.0        NNW        NNW  ...           22       1020.0
363           43.0        ENE        ENE  ...           47       1024.0
364           46.0        SSW        WNW  ...           39       1021.0
365           78.0         NW        WNW  ...           13       1009.6

     Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  RISK_MM  \
359       1014.6         0         3     12.0     24.8         No      0.0
360       1014.2         5         8     16.3     25.9         No      0.0
361       1010.8         1         3     20.4     30.0         No      0.0
362       1016.9         0         1     17.2     28.2         No      0.0
363       1022.8         3         2     14.5     18.3         No      0.0
364       1016.2         6         7     15.8     25.9         No      0.0
365       1009.2         1         1     23.8     28.6         No      0.0

     RainTomorrow
359            No
360            No
361            No
362            No
363            No
364            No
365            No

[7 rows x 23 columns]

In [169]:
#Zadanie 7
#a) przekształć dane w kolumnach 'RainToday' i 'RainTomorrow' na typ logiczny (boolean), odwzoro?
#wując wartości 'Yes' na True i 'No' na False,

weather['RainToday'] = weather['RainToday'].map({'Yes': True, 'No': False})
weather['RainTomorrow'] = weather['RainTomorrow'].map({'Yes': True, 'No': False})

In [171]:
#b) przekształć dane w kolumnach, zawierających dane o kierunku wiatru, na typ kategoryczny
#(category),
weather['WindGustDir'] = weather['WindGustDir'].astype('category')
weather['WindDir9am'] = weather['WindDir9am'].astype('category')
weather['WindDir3pm'] = weather['WindDir3pm'].astype('category')

In [173]:
#c) wyświetl informacje o zmodyfikowanej ramce danych i jej strukturze,
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           366 non-null    datetime64[ns]
 1   MinTemp        366 non-null    float64
 2   MaxTemp        366 non-null    float64
 3   Rainfall       366 non-null    float64
 4   Evaporation    366 non-null    float64
 5   Sunshine       363 non-null    float64
 6   WindGustDir    363 non-null    category
 7   WindGustSpeed  364 non-null    float64
 8   WindDir9am     335 non-null    category
 9   WindDir3pm     365 non-null    category
 10  WindSpeed9am   359 non-null    float64
 11  WindSpeed3pm   366 non-null    int64
 12  Humidity9am    366 non-null    int64
 13  Humidity3pm    366 non-null    int64
 14  Pressure9am    366 non-null    float64
 15  Pressure3pm    366 non-null    float64
 16  Cloud9am       366 non-null    int64
 17  Cloud3pm       366 non-null    int64
 18  Temp9am        366 non-null    float64
 19  Temp3pm        366 non-null    float64
 20  RainToday      0 non-null      object
 21  RISK_MM        366 non-null    float64
 22  RainTomorrow   0 non-null      object
dtypes: category(3), datetime64[ns](1), float64(12), int64(5), object(2)
memory usage: 60.4+ KB

In [177]:
#d) wyświetl wiersze, zawierające informacje o pogodzie w pierwszej dekadzie lutego 2008,
print(weather[(weather['Date'] >= '2008-02-01') & (weather['Date'] <= '2008-02-10')])

          Date  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine WindGustDir  \
92  2008-02-01     16.0     23.8       2.2          5.4       6.2         SSE
93  2008-02-02     14.9     28.8       0.0          5.8       8.1         NNE
94  2008-02-03     17.1     29.6       0.0          5.8       9.2           E
95  2008-02-04     18.2     22.6       1.8          8.0       0.0         ENE
96  2008-02-05     16.8     22.8       9.0          2.8       0.3         ESE
97  2008-02-06     13.6     27.4       1.0          2.8       8.0           W
98  2008-02-07     14.5     24.2       0.0          6.8       5.9         SSW
99  2008-02-08     12.4     19.9      16.2          5.4       5.6         ENE
100 2008-02-09     10.4     20.9       0.0          4.0       8.9         SSE
101 2008-02-10      9.1     23.1       0.0          5.8       9.6         ENE

     WindGustSpeed WindDir9am WindDir3pm  ...  Humidity3pm  Pressure9am  \
92            30.0         SE        ESE  ...           49       1018.9
93            30.0        SSE        NNE  ...           44       1018.2
94            48.0         SE        ESE  ...           38       1016.7
95            33.0        SSE        ENE  ...           76       1014.4
96            30.0          S        SSE  ...           71       1010.0
97            52.0         NW        WNW  ...           41       1002.1
98            61.0          N        NNW  ...           76        999.4
99            41.0        ESE        ESE  ...           58       1007.6
100           33.0          S          S  ...           51       1007.7
101           41.0        SSE          W  ...           37       1013.6

     Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  RISK_MM  \
92        1017.1         8         7     16.5     22.9        NaN      0.0
93        1014.5         7         2     19.1     27.0        NaN      0.0
94        1012.8         6         7     21.7     29.1        NaN      1.8
95        1011.5         8         8     18.5     22.1        NaN      9.0
96        1007.8         8         8     18.4     21.5        NaN      1.0
97         997.5         4         7     18.7     26.5        NaN      0.0
98         998.9         7         7     17.9     20.3        NaN     16.2
99        1005.0         7         7     13.6     18.7        NaN      0.0
100       1006.8         6         6     13.8     18.7        NaN      0.0
101       1011.4         1         7     14.0     21.4        NaN      0.0

     RainTomorrow
92            NaN
93            NaN
94            NaN
95            NaN
96            NaN
97            NaN
98            NaN
99            NaN
100           NaN
101           NaN

[10 rows x 23 columns]

In [185]:
#e) wyświetl wiersze, zawierające informacje o obserwacjach, w dniach, w których wiatr o godzinie
#dziewiątej wiał z kierunków południowo?zachodnich.
southwest = ['SW', 'SSW', 'WSW']
print(weather[weather['WindDir9am'].isin(southwest)])

          Date  MinTemp  MaxTemp  Rainfall  Evaporation  Sunshine WindGustDir  \
0   2007-11-01      8.0     24.3       0.0          3.4       6.3          NW
16  2007-11-17     13.8     31.2       0.0          7.2       8.4         ESE
17  2007-11-18     11.7     30.0       1.2          7.2      10.1           S
23  2007-11-24     12.0     24.3       0.4          1.2       7.5         NNE
29  2007-11-30     13.6     24.1       0.4          2.6       0.5         NNW
59  2007-12-30     15.4     35.0       0.0          9.6      13.0           E
117 2008-02-26     13.0     28.2       0.0          5.0      11.6          NW
150 2008-03-30      4.2     18.9       0.0          6.4      10.8         WNW
153 2008-04-02      5.3     23.3       0.0          3.6       5.6         NNW
157 2008-04-06      5.9     21.8       0.0          2.8       9.3           E
163 2008-04-12      6.1     24.1       0.0          4.6       6.1         WNW
168 2008-04-17      5.3     21.0       0.0          4.6       6.3         WNW
183 2008-05-02      2.1     17.3       0.0          1.6       9.2           W
185 2008-05-04     -0.9     16.7       0.0          2.4       9.3         NNW
192 2008-05-11      8.3     17.4       0.0          2.0       1.6           E
228 2008-06-16      6.4     16.9       0.0          2.6       5.9         SSW
229 2008-06-17      5.4     15.5       0.0          1.6       5.8         NNE
246 2008-07-04     -3.1     12.0       0.0          1.8       3.9         ESE
256 2008-07-14      2.7     16.5       0.0          0.6       8.9         NNW
270 2008-07-28     -1.6     10.7       1.4          0.8       9.1           S
296 2008-08-23      2.3     11.6       0.0          5.4       9.5           S
298 2008-08-25     -0.9     14.2       0.0          2.6       7.8         WNW
303 2008-08-30      0.5     16.3       0.0          1.8       4.1         NNW
314 2008-09-10     -2.7     15.2       0.0          4.0       9.7           N
321 2008-09-17      0.7     14.1       0.0          5.6       9.0         ENE
335 2008-10-01      1.4     20.6       0.0          5.4      11.1           N
345 2008-10-11      8.2     22.4       0.0          5.4      11.2          NW
350 2008-10-16      4.4     21.0       0.0          4.2      12.2          NW
364 2008-10-30     12.5     26.9       0.0          5.0       7.1          NW

     WindGustSpeed WindDir9am WindDir3pm  ...  Humidity3pm  Pressure9am  \
0             30.0         SW         NW  ...           29       1019.7
16            44.0        WSW          W  ...           23       1014.4
17            52.0         SW         NE  ...           26       1016.4
23            26.0        WSW         NE  ...           57       1020.7
29            30.0        SSW          S  ...           49       1017.2
59            39.0        SSW        ESE  ...           18       1017.4
117           44.0        WSW         NW  ...           27       1017.6
150           50.0        WSW        WNW  ...           34       1011.2
153           83.0        SSW         NW  ...           26       1018.0
157           35.0        SSW        NNW  ...           35       1028.0
163           35.0        SSW        WNW  ...           32       1019.2
168           26.0        SSW         NW  ...           44       1027.2
183           43.0        SSW        WNW  ...           38       1020.0
185           30.0         SW        NNW  ...           42       1022.7
192           20.0        WSW         NE  ...           52       1024.4
228           26.0        SSW        ESE  ...           51       1027.8
229           20.0        SSW        NNE  ...           58       1028.6
246           35.0        SSW         NE  ...           52       1030.5
256           41.0         SW        NNW  ...           51       1021.8
270           59.0        SSW          S  ...           56       1014.1
296           54.0        SSW        ESE  ...           38       1025.9
298           31.0        SSW          N  ...           34       1030.2
303           39.0        SSW        WSW  ...           45       1023.7
314           30.0         SW        WNW  ...           35       1022.8
321           20.0        SSW        NNW  ...           43       1026.7
335           46.0         SW          N  ...           16       1020.8
345           31.0        SSW         NW  ...           30       1027.8
350           28.0         SW         NW  ...           30       1025.7
364           46.0        SSW        WNW  ...           39       1021.0

     Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  RainToday  RISK_MM  \
0         1015.0         7         7     14.4     23.6        NaN      3.6
16        1009.8         7         6     20.2     29.8        NaN      1.2
17        1013.0         1         5     20.1     28.6        NaN      0.6
23        1019.2         7         5     17.8     22.8        NaN      0.0
29        1013.3         8         7     17.3     23.2        NaN     22.6
59        1015.0         1         1     23.4     34.3        NaN      0.0
117       1014.4         3         6     17.4     27.0        NaN      0.0
150       1009.3         3         2     11.2     18.1        NaN      0.0
153       1010.5         1         8      9.5     22.5        NaN      2.6
157       1024.1         1         5     12.9     20.8        NaN      0.0
163       1015.8         7         3     11.5     23.7        NaN      2.0
168       1023.3         7         2     12.0     20.4        NaN      0.0
183       1017.3         1         2      8.7     15.9        NaN      0.0
185       1018.5         5         2      6.2     15.4        NaN      0.0
192       1021.5         7         7     13.5     17.2        NaN      0.0
228       1024.8         7         2      9.5     16.0        NaN      0.0
229       1025.5         7         1      9.4     14.9        NaN      0.0
246       1030.0         1         6      5.9     10.2        NaN      0.0
256       1019.0         5         1      6.7     15.9        NaN      0.0
270       1014.9         2         4      5.6      9.6        NaN      0.0
296       1025.5         1         1      6.7     11.1        NaN      0.0
298       1024.4         7         6      5.3     12.8        NaN      0.0
303       1017.5         7         8      6.2     15.4        NaN      4.0
314       1017.9         1         2      6.3     14.9        NaN      0.0
321       1022.1         7         1      7.4     13.7        NaN      0.0
335       1015.4         5         1     11.3     19.5        NaN      0.0
345       1023.8         1         3     13.6     20.6        NaN      0.0
350       1022.3         1         1      9.6     19.2        NaN      0.0
364       1016.2         6         7     15.8     25.9        NaN      0.0

     RainTomorrow
0             NaN
16            NaN
17            NaN
23            NaN
29            NaN
59            NaN
117           NaN
150           NaN
153           NaN
157           NaN
163           NaN
168           NaN
183           NaN
185           NaN
192           NaN
228           NaN
229           NaN
246           NaN
256           NaN
270           NaN
296           NaN
298           NaN
303           NaN
314           NaN
321           NaN
335           NaN
345           NaN
350           NaN
364           NaN

[29 rows x 23 columns]

In [240]:
#Zadanie 8:
#a) wczytaj z niego arkusz 'employee_details' do ramki danych emp_det, zaś arkusz 'performance' do
#ramki danych emp_perf,
emp_det = pd.read_excel('employee.xlsx', sheet_name = 'employee_details')
emp_per = pd.read_excel('employee.xlsx', sheet_name = 'performance')

In [242]:
#b) przekształć w tych ramkach danych kolumnę 'name' na indeks,
emp_det.set_index('name', inplace=True)
emp_per.set_index('name', inplace=True)

In [232]:
#c) połącz je kolumna po kolumnie do ramki danych o nazwie employees
employees = pd.concat([emp_det, emp_per], axis='columns')

In [234]:
#d) zameń nazwy kolumn tak, by zaczynały się od wielkiej litery
employees.columns = employees.columns.str.capitalize()

In [236]:
#e) wyświetl informacje o zmodyfikowanej ramce danych i jej strukturze oraz jej zawartość.
employees.info()
print(employees)

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, Allen Smith to Leo Duck
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                7 non-null      float64
 1   Income             7 non-null      float64
 2   Gender             7 non-null      object
 3   Department         9 non-null      object
 4   Grade              9 non-null      object
 5   Performance_score  9 non-null      int64
dtypes: float64(2), int64(1), object(3)
memory usage: 804.0+ bytes
                Age   Income Gender  Department Grade  Performance_score
name
Allen Smith    45.0      NaN    NaN  Operations    G3                723
S Kumar         NaN  16000.0      F     Finance    G0                520
Jack Morgan    32.0  35000.0      M     Finance    G2                674
Ying Chin      45.0  65000.0      F       Sales    G3                556
Dheeraj Patel  30.0  42000.0      F  Operations    G2                711
Satyam Sharma   NaN  62000.0    NaN       Sales    G3                649
James Authur   54.0      NaN      F  Operations    G3                 53
Josh Wills     54.0  52000.0      F     Finance    G3                901
Leo Duck       23.0  98000.0      M       Sales    G4                709

In [244]:
#Zadanie 9:
#a) utwórz z niej ramkę danych o nazwie emp_finance, wybierając pracowników działu finasowego,
#zarabiających powyżej 20000,
emp_finance = employees[(employees['Department'] == 'Finance') & (employees['Income'] > 20000)]

In [211]:
#b) zapisz ramkę danych emp_finance do skoroszytu MS Excel o nazwie 'emp_finance.xlsx', umiesz?
#czając dane w arkuszu o nazwie 'employee_finance'.
emp_finance.to_excel('emp_finance.xlsx', sheet_name='employee_finance', index=False)